@use '../../_global' as gl;

.p-skill {
  display: flex;
  flex-direction: column;
  gap: gl.rem(20);
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: gl.$line-height-xxs;
    gap: gl.rem(20);
    &__left {
      width: gl.rem(50);
    }
    &__right {
      width: calc(100% - gl.rem(80));
      &__main {
        display: flex;
        align-items: center;
        gap: gl.rem(16);
        margin-bottom: gl.rem(8);
      }
      &__main-star {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: gl.rem(22);
        }
      }
    }
  }
}